<form method="post" action="{{ path('app_user_delete', {'id': user.id, 'currentPage': currentPage}) }}" onsubmit="return confirm('Estás seguro de querer eliminar este usuario?');">
    <button class="btn btn-warning">Eliminar usuario</button>
</form>
