{% extends 'base.html.twig' %}

{% block title %}Editar usuario{% endblock %}

{% block body %}
  <div class="container">
    <h1>Editar usuario</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_user_index', {'currentPage' : currentPage}) }}">Volver al listado</a>
  </div>

{% endblock %}
